.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 13vh;
    background-color: rgb(0, 0, 0);
}

.main-header .header-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 80%;
}

.main-header .header-section1 img {
    width: 80%;
}

.main-header .header-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 5.5vh;
}

.main-header input {
    width: 70%;
    height: 100%;
    border: none;
    padding-left: 0.7vw;
    border-radius: 0.4vw 0px 0px 0.4vw;
    font-size: 0.9vw;
}

.main-header .header-section2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 109%;
    border-radius: 0px 0.4vw 0.4vw 0;
    background-color: rgb(255, 255, 255);
}

.main-header .header-section2 a img {
    width: 85%;
}

.main-header .header-section3 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 10%;
    height: 5em;
}

.main-header .header-section3 .header-section3-menu {
    width: 2.95vw;
    height: 2.95vw;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-image: url('../header//images/openmenumobile.png');
    background-size: cover;
    cursor: pointer;
}

.main-header .header-section3 .header-section3-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 0.3vw;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 5.9vw;
    height: 14.8vh;
    padding: 8px;
    margin-left: -30px;
    margin-top: 50px;
    font-size: 1vw;
    display: none;
    position: absolute;
    cursor: pointer;
}




@media (max-width: 480px) {
    .main-header {
        width: 100%;
    }

    .main-header .header-section1 {
        width: 15%;
        height: 50%;
    }

    .main-header .header-section2 {
        width: 50%;
        height: 5em;
    }


    .main-header input {
        width: 70%;
        height: 30%;
        border: none;
        padding-left: 10px;
        font-size: 2.7vw;
    }
    
    .main-header .header-section2 a {
        width: 28px;
        height: 4vh;
    }
    
    .main-header .header-section2 a img {
        width: 80%;
    }
   
    .main-header .header-section3 {
        width: 10%;
    }  

    .main-header .header-section3 .header-section3-menu {
        width: 6vw;
        height: 6vw;
    }

    .main-header .header-section3 .header-section3-menu ul {
        width: 18vw;
        height: 14.8vh;
        margin-left: -37px;
        border-radius: 5px;
        margin-top: 35px;
        font-size: 3vw;
    }
}


/*TABLET*/
@media (min-width: 768px) and (max-width: 991px) {
    .main-header {
        width: 100%;
    }

    .main-header .header-section2 {
        width: 30%;
    }
}

/*EXTRA LARGE SCREENS*/
@media (min-width: 1920px) {
    .main-header input {
        font-size: 1vw;
    }

    .main-header .header-section2 a {
        width: 8%;
        height: 103%;
    }

    .main-header .header-section2 a img {
        width: 80%;
    }

    .main-header .header-section3 .header-section3-menu ul {
        padding: 0.8vw;
        margin-left: -2.5vw;
        margin-top: 7vh;
        font-size: 1vw;;
    }
    
}




