.main-product-section {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.main-product-section img {
    width: 100%;
    height: auto;
    display: block;
}



@media (max-width: 480px) {
    
}


/*SMALL TABLET*/
@media (min-width: 768px) and (max-width: 991px) {
   
}
