.selectedproduct-main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80vh;
    margin-top: 4vh;
    margin-bottom: 5vh;
}

.selectedproduct-main .selectedproduct-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%; 
    height: 80%;
}

.selectedproduct-main .selectedproduct-1 .selectedproduct-1-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.selectedproduct-main .selectedproduct-1 .selectedproduct-1-images img {
    width: 100%;
}

.selectedproduct-main .selectedproduct-1 .selectedproduct-1-images img:hover {
    opacity: 70%;
}

.selectedproduct-main .selectedproduct-1 .selectedproduct-1-selected-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    border-left: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    border-radius: 0 5px 5px 0;
    background-color: white;
}

.selectedproduct-main .selectedproduct-1 .selectedproduct-1-selected-image .image-zoom {
    width: 200%;
    height: 200%;
    background-size: cover;
}

.selectedproduct-main .selectedproduct-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 33%;
}

.selectedproduct-main .product-informations {
    display: flex;
    flex-direction: column;
    min-height: 52%;
    max-height: 70%;
    justify-content: space-between;
}

.selectedproduct-main .product-informations .title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
}

.selectedproduct-main .product-informations .rating {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3vw;
    color: green;
}

.selectedproduct-main .product-informations .rating img {
    width: 5%;
}

.selectedproduct-main .product-informations .price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3vw;
}

.selectedproduct-main .product-informations .desc {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
}

.selectedproduct-main .selectedproduct-3-buy,
.selectedproduct-main .selectedproduct-3-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color: white;
    border-radius: 5px;
}

.selectedproduct-main .selectedproduct-3-buy {
    background-color: rgb(0, 0, 0);
    margin-top: 15px; 
    cursor: pointer;
}

.selectedproduct-main .selectedproduct-3-cart {
    background-color: rgb(44, 44, 44);
    margin-top: 10px;
    cursor: pointer;
}


/*MOBILE*/
@media (max-width: 480px) {
    .selectedproduct-main {
        flex-direction: column;
        width: 90%;
        height: 550px;
    }

    .selectedproduct-main .selectedproduct-1 {
        width: 100%; 
        height: 300px;
    }

    .selectedproduct-main .selectedproduct-1 .selectedproduct-1-images img {
        width: 100%; 
    }

    .selectedproduct-main .selectedproduct-2 {
        width: 100%;
    }

    .selectedproduct-main .product-informations {
        width: 100%;
        margin-top: 20px;
    }

    .selectedproduct-main .product-informations .title {
        font-size: 7vw;
        width: 100%;
    }
    
    .selectedproduct-main .product-informations .rating {
        font-size: 20px;
    }
    
    .selectedproduct-main .product-informations .rating img {
        width: 8%;
    }
    
    .selectedproduct-main .product-informations .price {
        font-size: 40px;
    }
    
    .selectedproduct-main .product-informations .desc {
        font-size: 15px;
    }

    .selectedproduct-main .selectedproduct-2 .product-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 25%;
    }
    
    .selectedproduct-main .selectedproduct-3-buy,
    .selectedproduct-main .selectedproduct-3-cart {
        width: 48%;
        height: 40px;
        font-size: 3vw;
    }
}


/*TABLET*/
@media (min-width: 768px) and (max-width: 991px) {
    .selectedproduct-main {
        flex-direction: column;
        width: 100%;
    }

    .selectedproduct-main .selectedproduct-1 {
        width: 100%; 
        height: 400px;
    }

    .selectedproduct-main .product-informations {
        width: 50vw;
        height: 300px;
        margin-left: 15px;
        margin-top: 15px;
    }

    .selectedproduct-main .product-informations .title {
        font-size: 50px;
    }
    
    .selectedproduct-main .product-informations .rating {
        font-size: 25px;
    }
    
    .selectedproduct-main .product-informations .rating img {
        width: 8%;
    }
    
    .selectedproduct-main .product-informations .price {
        font-size: 60px;
    }
    
    .selectedproduct-main .product-informations .desc {
        font-size: 21px;
    }
    
    .selectedproduct-main .selectedproduct-3-buy,
    .selectedproduct-main .selectedproduct-3-cart {
        width: 40vw;
        margin-left: 15px;
        height: 40px;
    }
}